[Desktop Entry]
Encoding=UTF-8
Name=NetBeans IDE 12.5
Comment=The Smarter Way to Code
Exec=/bin/sh "/opt/netbeans/bin/netbeans"
Icon=/opt/netbeans/netbeans.png
Categories=Application;Development;Java;IDE
Version=1.0
Type=Application
Terminal=0
